@page "/"

<div class="container py-5">
    <div class="row g-4 justify-content-center">
        @* Obvody *@
        <div class="col-md-5">
            <div class="card h-100 shadow border-0 border-top border-4 text-center p-4 menu-card"
                 style="border-top-color: #00897b !important;">
                <a href="circuit" class="btn btn-primary btn-lg mt-3 w-100 fw-bold">Circuit</a>
            </div>
        </div>

        @* Gramatika *@
        <div class="col-md-5">
            <div class="card h-100 shadow-sm border-0 border-top border-4 border-success">
                <div class="card-body p-4 d-flex flex-column">
                    <a href="grammar" class="btn btn-success btn-lg mt-3 w-100 fw-bold">Grammar</a>
                </div>
            </div>
        </div>
    </div>

</div>